#! /usr/bin/env python
# {{ PROJECT_NAME }}
# web entry
#
# @file: web
# @time: {{year}}/{{month}}/{{day}}
# @author: Mori
#


import tornado.web
import tornado.ioloop
import tornado.httpserver
from tornado.options import options
from .view.router import HANDLERS

# options.parse_config_file("project.conf")
options.define("HOST", default="0.0.0.0", help="running host")
options.define("PORT", default=8888, help="running host")
options.define("DEBUG", default=True, help="running host")


MAIN_APP = tornado.web.Application(
    handlers=HANDLERS, default_host=options.HOST, gzip=True, debug=options.DEBUG
)

if __name__ == "__main__":
    ioloop = tornado.ioloop.IOLoop.current()
    http_server = tornado.httpserver.HTTPServer(MAIN_APP)
    http_server.listen(options.PORT)
    ioloop.start()
