#! /usr/bin/env python
# {{ PROJECT_NAME }}
# web entry
#
# @file: web
# @time: {{year}}/{{month}}/{{day}}
# @author: Mori
#



import tornado.web
import tornado.ioloop
import tornado.httpserver
from moreover.base.logger import debug_log
from moreover.base.config import global_config
from utils.env import *

if __name__ == "__main__":
    ioloop = tornado.ioloop.IOLoop.current()

    if global_config.DEBUG:
        debug_log()

    from view.router import HANDLERS

    webapp = tornado.web.Application(
        handlers=HANDLERS,
        default_host=global_config.HOST,
        gzip=True,
        debug=global_config.DEBUG,
        cookie_secret=global_config.COOKIE_SECRET,
    )

    http_server = tornado.httpserver.HTTPServer(webapp)
    http_server.listen(global_config.PORT)

    ioloop.start()