help = None
logging = "warning"
log_to_stderr = None
log_file_prefix = None
log_file_max_size = 100000000
log_file_num_backups = 10
log_rotate_when = "midnight"
log_rotate_interval = 1
log_rotate_mode = "size"
HOST = "0.0.0.0"
PORT = 8888
DEBUG = True
MONGO_URI = "mongo_uri"
MONGO_DB = "mongo_db"
MEMCACHE_HOST = "memcache_host"
MEMCACHE_PORT = 11211